/* Font families */
/* Colors */
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Noto+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
/* General styling */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-size: inherit;
}

.header nav {
  background-color: #fff;
  padding: 1.75rem 0.5rem;
}
@media only screen and (min-width: 992px) {
  .header nav {
    padding: 1.5rem 1.5rem;
  }
}
.header nav .container-fluid img {
  max-width: 210px;
}
.header nav .container-fluid .navbar-toggler {
  border: 0;
}
.header nav .container-fluid .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.header nav .container-fluid .navbar-toggler .navbar-toggler-icon {
  background-image: url("./../media/hamburger.svg");
}
@media only screen and (min-width: 992px) {
  .header nav .container-fluid .navbar-collapse {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.header nav .container-fluid .navbar-collapse .navbar-nav {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media only screen and (min-width: 992px) {
  .header nav .container-fluid .navbar-collapse .navbar-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header nav .container-fluid .navbar-collapse .navbar-nav .nav-link {
  color: #024959;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0.25rem 0;
}
@media only screen and (min-width: 992px) {
  .header nav .container-fluid .navbar-collapse .navbar-nav .nav-link {
    font-weight: 700;
    margin: 0 0.5rem;
  }
}
.header nav .container-fluid .navbar-collapse .navbar-nav .nav-link:last-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d78c04;
  border-radius: 1.5rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem 0 0 0;
  padding: 0.5rem 1.25rem;
}
@media only screen and (min-width: 992px) {
  .header nav .container-fluid .navbar-collapse .navbar-nav .nav-link:last-child {
    border-radius: 1.5rem;
    margin: 0 0.5rem;
  }
}

.main {
  background-color: #f5f5f5;
  padding-top: 94px;
}
.main .main__hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("./../media/hero-lg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.main .main__hero .hero-content {
  padding: 0 0.75rem;
}
.main .main__hero .hero-content > p {
  color: #fff;
  font-family: "Bitter", serif;
  font-size: 3.5rem;
  font-weight: 700;
  max-width: 900px;
  text-align: center;
  text-shadow: 1px 1px 3rem black;
}
.main .main__hero .hero-content > img {
  bottom: -100px;
  max-width: 125px;
  position: absolute;
  right: 0;
  z-index: 1000;
}
.main .main__first {
  padding-top: 75px;
}
.main .main__first .first__content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main .main__first .first__content-top .content-card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem auto;
  max-width: 350px;
  width: 90%;
}
.main .main__first .first__content-top .content-card p {
  color: #024959;
  font-family: "Bitter", serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.main .main__first .first__content-top .content-card img {
  border-radius: 2rem;
  height: 100%;
  width: 100%;
}
.main .main__first .first__content-bottom {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 200px 1rem 0 1rem;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .main .main__first .first__content-bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media only screen and (min-width: 992px) {
  .main .main__first .first__content-bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.main .main__first .first__content-bottom .svg {
  left: 0;
  position: absolute;
  top: -25px;
}
@media only screen and (min-width: 992px) {
  .main .main__first .first__content-bottom .container__texts {
    margin: 0 1rem 0 0;
  }
}
.main .main__first .first__content-bottom .container__texts .text {
  font-family: "Bitter", serif;
  max-width: 375px;
}
.main .main__first .first__content-bottom .container__texts .text:first-of-type {
  color: #d78c04;
  font-size: 1.5rem;
  margin: 0;
}
.main .main__first .first__content-bottom .container__texts .text:last-of-type {
  color: #024959;
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 0 2.5rem 0;
}
.main .main__first .first__content-bottom .image {
  max-width: 325px;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .main .main__first .first__content-bottom .image {
    margin: 0 0 0 1rem;
  }
}
.main .main__second {
  background-image: url("./../media/foto.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3rem 0;
}
.main .main__second .second__content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3.25rem 0.75rem;
}
.main .main__second .second__content-top p:first-of-type {
  background-color: #024959;
  border-radius: 2.5rem;
  color: #efe775;
  font-family: "Bitter", serif;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto 1rem auto;
  max-width: 325px;
  padding: 0.75rem 0.75em;
  text-align: center;
  width: 80%;
}
.main .main__second .second__content-top p:last-of-type {
  color: #fff;
  font-family: "Bitter", serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  text-shadow: 1px 1px 3rem black;
}
.main .main__second .second__content-bottom {
  background-image: url("./../media/M3__02-sm.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.25rem 0.75rem;
}
.main .main__second .second__content-bottom p {
  color: #024959;
  font-family: "Bitter", serif;
  font-size: 1.75rem;
  margin: 5rem auto 2rem auto;
  text-align: center;
}
.main .main__third {
  background-color: #024959;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 2.75rem 2rem;
  width: 90%;
}
.main .main__third p:first-of-type {
  color: #efe775;
  font-family: "Bitter", serif;
  font-size: 1.75rem;
  font-weight: 700;
}
.main .main__third p:last-of-type {
  color: #fff;
  font-family: "Bitter", serif;
  font-size: 1.5rem;
}
.main .main__third a {
  background-color: #d78c04;
  border-radius: 2rem;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.5em 1em;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.main .main__fourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3rem auto 0 auto;
}
.main .main__fourth .fourth__content-short {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 0 1.25rem;
}
.main .main__fourth .fourth__content-short p {
  font-family: "Bitter", serif;
  margin: 0;
  max-width: 550px;
  text-align: center;
}
.main .main__fourth .fourth__content-short p:first-of-type {
  color: #d78c04;
  font-size: 2rem;
}
.main .main__fourth .fourth__content-short p:last-of-type {
  color: #024959;
  font-size: 2.25rem;
  font-weight: 700;
}
.main .main__fourth .fourth__content-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem 0;
  padding: 0;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .main .main__fourth .fourth__content-texts {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media only screen and (min-width: 768px) {
  .main .main__fourth .fourth__content-texts {
    margin: 4rem 0;
  }
}
.main .main__fourth .fourth__content-texts .container__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 900px;
  padding: 0 1rem;
}
@media only screen and (min-width: 768px) {
  .main .main__fourth .fourth__content-texts .container__text {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media only screen and (min-width: 992px) {
  .main .main__fourth .fourth__content-texts .container__text {
    margin: 0 auto;
  }
}
.main .main__fourth .fourth__content-texts .container__text p {
  color: #024959;
  font-family: "Bitter", serif;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 1.5rem 0;
  max-width: 750px;
}
@media only screen and (min-width: 768px) {
  .main .main__fourth .fourth__content-texts .container__text p {
    margin: 0.75rem 0;
  }
}
.main .main__fourth .fourth__content-texts .container__text p span {
  font-weight: 700;
}
.main .main__fourth .fourth__content-texts .container__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem 0 0 0;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .main .main__fourth .fourth__content-texts .container__images {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media only screen and (min-width: 992px) {
  .main .main__fourth .fourth__content-texts .container__images {
    -ms-flex-preferred-size: content;
        flex-basis: content;
  }
}
.main .main__fourth .fourth__content-texts .container__images img:first-of-type {
  position: absolute;
  top: 0;
}
@media only screen and (min-width: 768px) {
  .main .main__fourth .fourth__content-texts .container__images img:first-of-type {
    top: 75px;
  }
}
.main .main__fourth .fourth__content-texts .container__images img:last-of-type {
  max-width: 450px;
  margin-top: 2rem;
  width: 100%;
}
.main .main__fourth .fourth__content-long {
  background-image: url("./../media/M5__02-sm.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem 0;
  padding: 3.5rem 0;
}
.main .main__fourth .fourth__content-long .container__card {
  background-color: #efe775;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 300px;
  margin: 0.75rem 0.5rem;
  padding: 1.25em 1.5em;
  width: 90%;
}
@media only screen and (min-width: 576px) {
  .main .main__fourth .fourth__content-long .container__card {
    height: 205px;
  }
}
@media only screen and (min-width: 768px) {
  .main .main__fourth .fourth__content-long .container__card {
    height: 290px;
    width: 47.5%;
  }
}
@media only screen and (min-width: 992px) {
  .main .main__fourth .fourth__content-long .container__card {
    height: 240px;
    width: 47.5%;
  }
}
@media only screen and (min-width: 1200px) {
  .main .main__fourth .fourth__content-long .container__card {
    height: 205px;
    width: 47.5%;
  }
}
.main .main__fourth .fourth__content-long .container__card p {
  color: #024959;
  font-family: "Bitter", serif;
}
.main .main__fourth .fourth__content-long .container__card p:first-of-type {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.5rem 0;
}
.main .main__fourth .fourth__content-long .container__card p:last-of-type {
  font-size: 1rem;
}
.main .main__fifth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main .main__fifth .fifth__content-card {
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem auto;
  padding: 3.5rem 1.25rem 0 1.25rem;
  width: 90%;
}
@media only screen and (min-width: 992px) {
  .main .main__fifth .fifth__content-card {
    margin: 1rem auto 0 auto;
    width: 47.5%;
  }
}
.main .main__fifth .fifth__content-card a {
  border-radius: 1rem;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1rem auto;
  padding: 0.5em 1em;
  text-decoration: none;
}
@media only screen and (min-width: 992px) {
  .main .main__fifth .fifth__content-card a {
    margin: 1rem 0;
  }
}
.main .main__fifth .fifth__content-card a img {
  margin: 0;
}
.main .main__fifth .fifth__content-card img {
  margin: 0 auto 0 2rem;
  max-width: 225px;
}
@media only screen and (min-width: 992px) {
  .main .main__fifth .fifth__content-card img {
    margin: 0 0 0 2rem;
  }
}
.main .main__fifth .fifth__content-card:nth-child(1) {
  background-color: #587f8c;
}
.main .main__fifth .fifth__content-card:nth-child(1) p {
  font-family: "Bitter", serif;
}
.main .main__fifth .fifth__content-card:nth-child(1) p:first-of-type {
  color: #efe775;
  font-size: 2.25rem;
  font-weight: 700;
}
.main .main__fifth .fifth__content-card:nth-child(1) p:last-of-type {
  color: #fff;
  font-size: 1.5rem;
  line-height: 2rem;
}
.main .main__fifth .fifth__content-card:nth-child(1) a {
  background-color: #d78c04;
}
.main .main__fifth .fifth__content-card:nth-child(2) {
  background-color: #f0b505;
}
.main .main__fifth .fifth__content-card:nth-child(2) p {
  font-family: "Bitter", serif;
}
.main .main__fifth .fifth__content-card:nth-child(2) p:first-of-type {
  color: #024959;
  font-size: 2.25rem;
  font-weight: 700;
}
.main .main__fifth .fifth__content-card:nth-child(2) p:last-of-type {
  color: #fff;
  font-size: 1.5rem;
  line-height: 2rem;
}
.main .main__fifth .fifth__content-card:nth-child(2) a {
  background-color: #024959;
}
.main .main__sixth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.main .main__sixth #map {
  height: 400px; /* The map height */
  margin: 0 auto;
  width: 100%; /* The width is the width of the web page */
}
@media only screen and (min-width: 992px) {
  .main .main__sixth #map {
    height: 600px; /* The height is 400 pixels */
  }
}
.main .main__sixth .sixth__content {
  display: none;
}
@media only screen and (min-width: 992px) {
  .main .main__sixth .sixth__content {
    background-color: rgba(239, 231, 117, 0.8);
    border-radius: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem 3.5rem 0 auto;
    max-width: 375px;
    padding: 2em 1.5em;
    position: absolute;
    right: 0;
  }
}
.main .main__sixth .sixth__content > p {
  color: #024959;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
}
.main .main__sixth .sixth__content .content-block {
  position: relative;
}
.main .main__sixth .sixth__content .content-block p {
  color: #024959;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}
.main .main__sixth .sixth__content .content-block p:first-of-type {
  font-size: 1.25rem;
  font-weight: 700;
}
.main .main__sixth .sixth__content .content-block img {
  position: absolute;
  right: 0;
  top: 0;
}
.main .main__seventh {
  background-color: #024959;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3.75rem 0;
}
.main .main__seventh p {
  color: #efe775;
  font-family: "Bitter", serif;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1em;
}
.main .main__seventh a {
  background-color: #d78c04;
  border-radius: 2rem;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 0.5em 1em;
  text-decoration: none;
}
@media only screen and (min-width: 992px) {
  .main .main__seventh > img {
    height: 150px; /* The height is 400 pixels */
  }
}
.main .main__eighth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3.75rem 0;
  position: relative;
}
@media only screen and (min-width: 992px) {
  .main .main__eighth {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.main .main__eighth .eighth__content-block {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 450px;
  padding: 1.5rem 1rem;
}
@media only screen and (min-width: 992px) {
  .main .main__eighth .eighth__content-block {
    width: 50%;
  }
}
.main .main__eighth .eighth__content-block > img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 250px;
}
.main .main__eighth .eighth__content-block > p {
  color: #024959;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin: 0.5rem 0;
  min-width: 150px;
  width: 100%;
}
.main .main__eighth .eighth__content-block > p:first-of-type {
  color: #d78c04;
  font-family: "Bitter", serif;
  margin: 1.25rem 0 1.75rem 0;
}
.main .main__eighth .eighth__content-block > p:nth-of-type(2) {
  margin: 0 0 0.5rem 0;
}
.main .main__eighth .eighth__content-form {
  background-color: #fff;
  border-radius: 1.5rem;
  margin: 2rem auto;
  max-width: 450px;
  padding: 1.25rem 0.75rem;
  width: 95%;
}
@media only screen and (min-width: 992px) {
  .main .main__eighth .eighth__content-form {
    margin: 0;
  }
}
.main .main__eighth .eighth__content-form .form__header p {
  color: #024959;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}
.main .main__eighth .eighth__content-form .form__body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main .main__eighth .eighth__content-form .form__body .body-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.main .main__eighth .eighth__content-form .form__body .body-row input {
  border: #d78c04 1px solid;
  border-radius: 0.5rem;
  height: 40px;
  margin: 1rem auto;
  min-width: 225px;
  padding: 0 0 0 0.5rem;
}
@media only screen and (min-width: 576px) {
  .main .main__eighth .eighth__content-form .form__body .body-row input {
    min-width: 300px;
  }
}
.main .main__eighth .eighth__content-form .form__body .body-row input::-webkit-input-placeholder {
  color: #024959;
  font-weight: 500;
}
.main .main__eighth .eighth__content-form .form__body .body-row input::-moz-placeholder {
  color: #024959;
  font-weight: 500;
}
.main .main__eighth .eighth__content-form .form__body .body-row input:-ms-input-placeholder {
  color: #024959;
  font-weight: 500;
}
.main .main__eighth .eighth__content-form .form__body .body-row input::-ms-input-placeholder {
  color: #024959;
  font-weight: 500;
}
.main .main__eighth .eighth__content-form .form__body .body-row input::placeholder {
  color: #024959;
  font-weight: 500;
}
.main .main__eighth .eighth__content-form .form__body .body-row input::-webkit-outer-spin-button, .main .main__eighth .eighth__content-form .form__body .body-row input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main .main__eighth .eighth__content-form .form__body .body-row .message {
  height: 120px;
}
.main .main__eighth .eighth__content-form .form__body .body-row button {
  background-color: #024959;
  border: 0;
  border-radius: 2rem;
  color: #fff;
  font-size: 1rem;
  margin: 1rem 0 0 auto;
  min-width: 125px;
  padding: 0.5em 1.25em;
}
.main .main__eighth .eighth__content-form .form__body .body-row:nth-of-type(4) input {
  background-image: url("./../media/bandera-spain.svg");
  background-position: 10px 50%;
  background-repeat: no-repeat;
  padding: 0 0 0 2.75rem;
}
.main .main__eighth > a {
  bottom: 20px;
  margin: 0 1.5rem 0 auto;
  right: 20px;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#carousel {
  margin: 3rem 0;
}
#carousel .carousel-inner {
  padding: 1em;
}
@media only screen and (min-width: 400px) {
  #carousel .carousel-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media only screen and (min-width: 400px) {
  #carousel .carousel-inner .carousel-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
@media only screen and (min-width: 576px) {
  #carousel .carousel-inner .carousel-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media only screen and (min-width: 768px) {
  #carousel .carousel-inner .carousel-item {
    margin-right: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
}
#carousel .carousel-inner .carousel-item .card {
  border: none;
  -webkit-box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
          box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  margin: 0 auto;
  max-width: 225px;
}
@media only screen and (min-width: 400px) {
  #carousel .carousel-inner .carousel-item .card {
    margin: 0 0.5em;
  }
}
#carousel .carousel-inner .carousel-item .card .img-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
}
#carousel .carousel-inner .carousel-item .card img {
  max-height: 100%;
}
#carousel .carousel-control-prev,
#carousel .carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer {
  background-color: #024959;
  padding: 4rem 0.75rem;
}
footer P {
  color: #a3b4bf;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
}
footer P a {
  color: #a3b4bf;
}/*# sourceMappingURL=styles.css.map */