/* Font families */
$notoSans: "Noto Sans", sans-serif;
$bitter: "Bitter", serif;

/* Colors */
$darkBlue: #024959;
$lightBlue: #587f8c;
$gray: #a3b4bf;
$lightOrange: #f0b505;
$darkOrange: #d78c04;
$yellow: #efe775;
